@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.navbtns {
    height: 30px;

}

.dr {
    color: darkorange;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 40px;
}

.khujun {
    color: #00a85f;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.page-one {
    z-index: -10000000;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/hospital.jpg");
}

.search-head {
    position: relative;
    top: 35%;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 900;
}

.search-title {
    color: #000503;
}

.search-doc {
    color: darkorange;
}

.searchbar {
    position: relative;
    top: 40%;
    font-size: 50px;
    font-family: roboto;
    font-weight: 900;
    max-width: 1000px;
    margin: auto;
}

.search {
    height: 50px;
    letter-spacing: 2px;
}

.search-btn {
    height: 50px;
}

.search-btn:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.page-two {
    margin-top: 100px;
}

/* Second Page link */
.all-doctors {
    text-align: center;
    position: relative;
    top: 45%;
}

/* Second Page */

@media only screen and (max-width: 600px) {
    .page-two {
        height: 900px;
    }

    .search-title {
        color: #f9fdfc;
    }
}

@media only screen and (max-width: 1400px) {

    .search-title {
        color: #f9fdfc;
    }
}

.catagories {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 10px;
}

/* doctors page */

.wrapper{
    width: 100%;
    height: 100%;
    background: #00A85F;
}
.flex-container{
    display: flex;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 350px;
    height: 400px;
    background: #FF8C00;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 15px;
    border-radius: 10px;
}
.doctors{
    margin-top: 80px;
}
.image-doctor{
    width: 150px;
    height: 150px;
    background: rgb(243, 240, 240);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
    background-image: url("/images/drz.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.social-doctors{
    width: 150px;
    height: 40px;
    margin: auto;
    padding: 10px;
    display: flex;
}
.social-doctors li{
    list-style-type: none;
}
.social-doctors li.facebook{
    width: 40px;
    height: 40px;
    background-image: url("/images/facebook-app-symbol.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.doctor-name{
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.view-docotor{
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
}
/* view doctor page */

.doctor-details{
    width: 100%;
    height: 100%;
    background: #00A85F;
    margin-top: 80px;
}
.doctor-dtails-flex-container{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
/* view doctor page left-area*/
.doctor-details-left{
    margin: auto;
    margin-top: 20px;
    min-width: 300px;
    max-width: 450px;
    flex-grow: 1;
    min-height: 900px;
}

.doctor-details-left-img-area{
    max-width: 350px;
    height: 450px;
    background: #FF8C00;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.doctor-details-left-img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    background: #FF8C00;
    background-image: url(/images/doc.jpg);
    border-top-right-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.doctor-details-left-name-area{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.doctor-details-left-personal-area{
    max-width: 350px;
    height: 200px;
    background: #FF8C00;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
}
.doctor-underline{
    width: 170px;
    height: 3px;
    background: #00A85F;
    margin-bottom: 12px;
}

.doctor-details-left-emergency-area{
    max-width: 350px;
    height: 120px;
    background: #FF8C00;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.doctor-details-left-emergency-img{
    width: 70px;
    height: 100%;
    background-image: url(/images/figure.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.doctor-details-left-emergency-number{
    width: 300px;
    height: 100%;
}
/* view doctor page right-area */
.doctor-details-right{
    
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 450px;
    flex-grow: 3;
    min-height: 900px;
    background: #FF8C00;
    border-radius: 10px;
    
}
.doctor-details-right-education-area{
    width: 100%;
    height: 300px;
}
.doctor-details-right-education-area h3{
    padding: 20px;
}

.education-year-institute-degree {
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
    text-align: center;
}
.odd{
    background: #f08604;
}
.education-year-institute-degree li{
    list-style-type: none;
    margin-top: 4px;
    flex-grow: 1;
}

.education-year-institute-degree li.education-year{
    width: 30px;
}
.education-year-institute-degree li.education-degree{
    width: 80px;
}
.education-year-institute-degree li.education-institute{
    width: 220px;
}
.education-underline{
    width: 130px;
    height: 3px;
    background: #00A85F;
    margin: 20px;
    margin-top: -20px;
}

/* view doctor page right-area */

.doctor-details-right-experience-area{
    width: 100%;
    height: 300px;
}
.doctor-details-right-experience-area h3{
    padding: 20px;
}

.experience-underline{
    width: 160px;
    height: 3px;
    background: #00A85F;
    margin: 20px;
    margin-top: -20px;
}
.experience-department-position-hospital{
    width: 100%;
    height: 60px;
    font-size: 18px;
    display: flex;
    text-align: center;
}
.experience-department-position-hospital li{
    list-style-type: none;
    margin-top: 4px;
    flex-grow: 1;
}
.experience-department-position-hospital li.experience-department{
    width: 30px;
}

.experience-department-position-hospital li.experience-position{
    width: 150px;
}
.experience-department-position-hospital li.experience-hospital{
    width: 150px;
}
.doctor-details-right-visiting-area-time{
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
    text-align: center;
}
.doctor-details-right-visiting-area li {
    list-style-type: none;
    margin-top: 4px;
    flex-grow: 1;
}

.doctor-details-right-visiting-area li.visiting-day{
    width: 100px;
}

@media only screen and (max-width: 870px) {

    .doctor-details-right{
       
        margin-left: 0px;
        
    }
}